[user]
	name = kokoax
	email = yomo4808@gmail.com

# [url "github:"]
#   InsteadOf = https://github.com/
#   InsteadOf = git@github.com:

[alias]
  s = status
  a = add
  c = commit
  l = log --oneline
  p = push
  d = diff
  # o = checkout
  w = switch
  r = restore
  f = fetch -p
  is = "!f() { gh issue status; }; f"
  rb = "!f() { git branch --merged | grep -v \"*\" | grep -v master | xargs git branch -d; }; f"
  g = "!f(){ nvim `git grep -n $1 | peco | awk -F ':' '{printf \"+%d %s\", $2, $1}'`;};f"
  openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
  ls = ls-files
  get = !ghq get
  list = !ghq list
  root = "!exec $SHELL ; :"
  unget = "!ghq-unget $1"
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  rebase = merge

[credential "https://git-codecommit.ap-northeast-1.amazonaws.com"]
  helper =
  # helper = !aws-vault exec digitalio-mc-codecommit -- aws codecommit credential-helper $@
  helper = !aws-vault exec yoshitomo-tokoi@digitalio -- aws codecommit credential-helper $@
  # helper = !aws-vault exec digitalio-mc-admin -- aws codecommit credential-helper $@
  UseHttpPath = true

[fetch]
    prune = true

[core]
	editor = nvim
    excludesfile = ~/.gitignore.local
  quotepath = false

# [init]
# 	templatedir = $HOME/.git_template/

[ghq]
   root = /Users/kokoax/.ghq/src
